
<nav class="related-navigation-topic" aria-labelledby="related-nav-topics">
    <h2 class="govuk-heading-s govuk-!-margin-top-3" id="related-nav-topics">
        Explore the topic
    </h2>
    <ul class="govuk-list govuk-!-font-size-16 govuk-!-font-weight-bold govuk-list--spaced">
        <li>
            <a href="#">
                Living in France          
            </a>
        </li>
        <li>
            <a href="#">
                Travelling to France
            </a>
        </li>
    </ul>
</nav>
