<p class="govuk-body">You can choose whether to get an eVisa if you have physical proof of your immigration status, such as a wet ink stamp or vignette (sticker) which: </p>


<ul class="govuk-list govuk-list--bullet">
    <li>
        has no expiry date 
    </li>
    <li>
        proves you have settlement in the UK - also known as indefinite leave to remain (ILR) or indefinite leave to enter (ILE)
    </li>
</ul>

<p class="govuk-body">If you get an eVisa then you’ll have a digital record to prove your identity and immigration status.</p>

<p class="govuk-body">Getting an eVisa will not change your immigration status. You’ll still be able to use your physical document.</p>

<p class="govuk-body">To get an eVisa, you need to make a free ‘no time limit’ (NTL) application.</p>

{% call govukInsetText() %}
  Do not make an NTL application if you have another type of evidence of your settled status in the UK, for example an expired biometric residence permit (BRP) or status under the EU Settlement Scheme. There’s a different way to access your eVisa.
{% endcall %}

<h2 class="govuk-heading-l">
Make an NTL application
</h2>

<p class="govuk-body">You need:

</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        a phone number and email address that you can use each time you sign in
    </li>
    <li>
        the passport or travel document you used when you last entered the UK
    </li>
</ul>

<p class="govuk-body">You’ll also need the physical document that proves that you have settlement, if you have one.</p>
<p class="govuk-body">You need a UK Visas and Immigration (UKVI) account to access your eVisa. You’ll create a UKVI account either:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        at the start of your NTL application - if you have a valid passport 
    </li>
    <li>
        when your NTL application is approved - if you do not have a valid passport
    </li>
</ul>

{{ govukButton({
  text: "Make an NTL application",
  href: "#",
  isStartButton: true
}) }}

<h2 class="govuk-heading-l">
Make an NTL application
</h2>

<p class="govuk-body">You’ll need to have your fingerprints and photo (biometric information) taken at a UK Visa and Citizenship Application Services (UKVCAS) service point.</p>

<p class="govuk-body">You’ll also be asked to provide supporting documents. You’ll be told what you need at the end of your application.</p>

<p class="govuk-body">You can either:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        upload the documents into the UKVCAS online service 
    </li>
    <li>
        pay to have them scanned at your UKVCAS appointment
    </li>
</ul>

<p class="govuk-body">It can take up to 6 months to process an NTL application. </p>

<p class="govuk-body">You can continue to use your physical immigration document while your application is processed.</p>

<h2 class="govuk-heading-l">
Get help
</h2>

<p class="govuk-body">You can use webchat to ask about your eVisa or UKVI account.</p>

<p class="govuk-body">You can also watch eVisa support videos.</p>

{# Pagination #}

<nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">

  {% include "../../partials/_next_pagination.html" %}

  <hr class="govuk-section-break govuk-section-break--visible">

  {% include "../../partials/_previous_pagination.html" %}

</nav>

<p class="govuk-body govuk-!-margin-bottom-8">
    <a class="govuk-link" href="#">View a printable version of the whole guide</a>
</p>