<p class="govuk-body">You need a UK Visas and Immigration (UKVI) account to access your eVisa. </p>

<p class="govuk-body">If your partner and children are joining you in the UK as ‘dependants’ then they need their own UKVI accounts to access their eVisas.</p>

<h2 class="govuk-heading-l">
Who can use this service
</h2>

<p class="govuk-body">You can use this service to access an eVisa if you have:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        any visa for the UK (England, Scotland, Wales or Northern Ireland)
    </li>
    <li>
        settlement in the UK (also called ‘indefinite leave to remain’)
    </li>
</ul>

<p class="govuk-body">You can also use this service to get access to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        a ‘digital record of exemption’, if you’re exempt from immigration control - for example, if you’re a diplomat
    </li>
    <li>
        a ‘digital certificate of entitlement’, if you have ‘right of abode’ in the UK
    </li>
</ul>

<p class="govuk-body">You can choose whether to access an eVisa if:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        you have a physical immigration document which has no expiry date and proves you have settlement in the UK - you’ll need to make a ‘no time limit’ application
    </li>
    <li>
        you have a valid visa vignette (sticker) in your passport
    </li>
</ul>

<h3 class="govuk-heading-m">
When you do not need an eVisa
</h3>

<p class="govuk-body">You do not need an eVisa if you:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        are visiting the UK with an electronic travel authorisation (ETA)
    </li>
    <li>
        have permission to stay in the Channel Islands, the Isle of Man or Gibraltar
    </li>
</ul>

<h2 class="govuk-heading-l">
Check if you already have a UKVI account
</h2>

<p class="govuk-body">Content</p>

<h2 class="govuk-heading-l">
Create a UKVI account
</h2>

<p class="govuk-body">Content</p>

{{ govukButton({
  text: "Create a UKVI account",
  href: "#",
  isStartButton: true
}) }}

{% call govukInsetText() %}
  You cannot access your eVisa until you’ve linked it to your UKVI account. You can link your UKVI account to your eVisa if you did not do it when you created your account.
{% endcall %}

<h2 class="govuk-heading-l">
Get help
</h2>

<p class="govuk-body">Content</p>

<h2 class="govuk-heading-l">
Help someone else
</h2>

<p class="govuk-body">Content</p>

{# Pagination #}

<nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">

  {% include "../../partials/_next_pagination.html" %}

  <hr class="govuk-section-break govuk-section-break--visible">

  {% include "../../partials/_previous_pagination.html" %}

</nav>
  

<p class="govuk-body govuk-!-margin-bottom-8">
    <a class="govuk-link" href="#">View a printable version of the whole guide</a>
</p>