<p class="govuk-body">You must check that your UK Visas and Immigration (UKVI) account and eVisa details are correct before you travel to or from the UK.</p>

<p class="govuk-body">You’ll have an eVisa if you’ve successfully applied for a visa or another type of permission to be in the UK. This includes if you have status under the EU Settlement Scheme.</p>

{{ govukWarningText({
  text: "Your carrier may not let you travel if your details are wrong. You may also be delayed at the UK border.",
  iconFallbackText: "Warning"
}) }}

<p class="govuk-body">You must make sure that:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        your UKVI account has your correct personal details and current passport or travel document - you can <a href="#" class="govuk-link">update your UKVI account</a> 
    </li>
    <li>
        your eVisa is correct, for example it shows the right immigration status - you can <a href="#" class="govuk-link">view your eVisa to check</a> 
    </li>
    <li>
        your details exactly match the passenger information you give to your carrier (for example your airline)</a> 
    </li>
</ul>

<p class="govuk-body">If you cannot view your eVisa check that you have set up your UKVI account correctly.</p>

<div class="govuk-inset-text">
  An eVisa is different from an <a href="#" class="govuk-link">electronic travel authorisation (ETA)</a>. An ETA allows people who do not need a visa to travel to the UK for up to 6 months.
</div>

<h2 class="govuk-heading-l">
When you travel
</h2>

<p class="govuk-body">You must travel with a valid passport or travel document that you’ve added to your UKVI account.</p>

<p class="govuk-body">Your eVisa will be checked when you:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        leave and enter the UK, either by a border control officer or when you use the eGates
    </li>
    <li>
        check in with your carrier to return to the UK
    </li>
</ul>

{% call govukInsetText() %}
  The country you’re visiting might have other entry or exit requirements - check before you travel.
{% endcall %}

<h3 class="govuk-heading-m">
If you’re asked to show additional proof of your immigration status
</h3>

<p class="govuk-body">You might be asked to show additional proof of your immigration status by a carrier or border official.</p>

<p class="govuk-body">You can:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        get a share code
    </li>
    <li>
        use a physical immigration document if you have one
    </li>
</ul>

<p class="govuk-body">Sign in to <a href="#" class="govuk-link">view your eVisa and get a share code</a>.</p>

<p class="govuk-body">A share code for travel is valid for 90 days so you can get it before you travel. It can be used more than once.</p>

<p class="govuk-body">If you have a physical document which proves your valid immigration status, you may want to carry it with you as additional proof.</p>

<p class="govuk-body">Physical documents include a:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        sticker or stamp which shows you have indefinite leave to remain or enter (settlement) in an old passport
    </li>
    <li>
        right of abode certificate of entitlement in your passport
    </li>
    <li>
        Home Office travel document
    </li>
</ul>

<h2 class="govuk-heading-l">
If you have more than one nationality
</h2>

<p class="govuk-body">Make sure you add the passport you’ll use to travel to your UKVI account. You can add more than one passport.</p>

<p class="govuk-body">If one of your nationalities is British or Irish, you do not need an eVisa. You must travel with your British or Irish passport or a passport with a certificate of entitlement. Read the guidance for British or Irish dual citizens.</p>

<h2 class="govuk-heading-l">
If your passport or personal details change when you’re outside the UK
</h2>

<p class="govuk-body">To return to the UK you’ll need to either:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        update your UKVI account
    </li>
    <li>
        ask UKVI to update your account for you
    </li>
</ul>

<p class="govuk-body">Whether you can update your UKVI account while you’re out of the UK depends on what details have changed and if you have a biometric passport.</p>

<h3 class="govuk-heading-m">
If you have a biometric passport
</h3>

<p class="govuk-body">You can update your UKVI account if any of the following have changed:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        passport details (passport number and expiry date)
    </li>
    <li>
        name
    </li>
     <li>
        nationality
    </li>
</ul>

<p class="govuk-body">If any other personal details have changed, you’ll need to ask UKVI to update your account for you. You may need to submit your fingerprints and photo (biometric information) at a visa application centre.</p>

<h3 class="govuk-heading-m">
If you do not have a biometric passport
</h3>

<p class="govuk-body">You can update your UKVI account with your passport number and expiry date only.</p>

<p class="govuk-body">If any other personal details have changed, you’ll need to ask UKVI to update your account for you. You may need to submit your fingerprints and photo (biometric information) at a visa application centre.</p>

<h2 class="govuk-heading-l">
Get help
</h2>


<p class="govuk-body">You can recover your UKVI account if you cannot sign in because you’ve lost access to your phone or changed email address.</p>

<p class="govuk-body">You can report an error with your eVisa if you cannot view it when you sign in to your UKVI account.</p>

<p class="govuk-body">You can chat to UKVI using webchat if you have other questions about your eVisa, UKVI account or sharing your immigration status.

</p>

<p class="govuk-body">You can also watch eVisa support videos.</p>

<h3 class="govuk-heading-m">
If your carrier cannot check your eVisa
</h3>

<p class="govuk-body">Ask your carrier to contact the UK Border Force carrier support hub for help.</p>

{# Pagination #}

<nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">

  {% include "../../partials/_next_pagination.html" %}

  <hr class="govuk-section-break govuk-section-break--visible">

  {% include "../../partials/_previous_pagination.html" %}

</nav>

<p class="govuk-body govuk-!-margin-bottom-8">
    <a class="govuk-link" href="#">View a printable version of the whole guide</a>
</p>