<p class="govuk-body">Before you can rent in England, you need to prove your right to rent to your landlord.</p>

<p class="govuk-body">How you prove your right to rent depends on your nationality and your immigration status.</p>

{% call govukInsetText() %}
  You do not need to prove your right to rent in Wales, Scotland or Northern Ireland.
{% endcall %}

<h2 class="govuk-heading-l">
If you’re a British or Irish citizen
</h2>

<p class="govuk-body">If you’re a British or Irish citizen, you can prove your right to rent in England by showing your landlord one of the following:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        a British passport (current or expired)
    </li>
    <li>
        an Irish passport or passport card (current or expired)
    </li>
    <li>
        a certificate of registration or naturalisation as a British citizen
    </li>
</ul>

<p class="govuk-body">If you do not have a passport, passport card or citizenship certificate, you may be able to <a href="#" class="govuk-link">use other documents to prove your right to rent</a>.</p>

{% call govukInsetText() %}
  You may be able to use an online identity service provider (IDSP) to prove your right to rent instead of giving your landlord your documents to check. Ask your landlord if they offer this.
{% endcall %}

<h2 class="govuk-heading-l">
If you’re not a British or Irish citizen
</h2>

<p class="govuk-body">If you’re not a British or Irish citizen, you can prove your right to rent in England with:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        a share code - you can <a href="#" class="govuk-link">get a share code online</a>
    </li>
    <li>
        your <a href="#" class="govuk-link">original immigration documents</a>
    </li>
</ul>

<p class="govuk-body">You can choose which option you use. Your landlord cannot reject your application because you gave them an eligible immigration document instead of a share code, for example.</p>

<nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
<div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">Get a share code online</span>
    </a>
  </div>  
</nav>
<p class="govuk-body govuk-!-margin-bottom-8">
    <a class="govuk-link" href="#">View a printable version of the whole guide</a>
</p>