 <aside class="govuk-prototype-kit-common-templates-related-items">
    <h2 class="govuk-heading-s" id="related-content">
        Related content
    </h2>
    <nav role="navigation" aria-labelledby="related-content">
        <ul class="govuk-list govuk-!-font-size-16">
            <li>
                <a href="#">
                    Check if you need a UK visa
                </a>
            </li>
            <li>
                <a href="#">
                    How to apply for a visa to come to the UK
                </a>
            </li>
            <li>
                <a href="#">
                    Entering the UK: exemptions to controls
                </a>
            </li>  
        </ul>
    </nav>
    <nav role="navigation" aria-labelledby="related-collections">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 id="related-collections" class="govuk-body govuk-!-font-size-16">
            Collection
        </h3>
        <ul class="govuk-list govuk-!-font-size-16 govuk-!-font-weight-bold">
            <li>
                <a href="#">
                    eVisa support videos
                </a>
            </li>
            <li>
                <a href="#">
                    UKVI support videos
                </a>
            </li>
        </ul>
    </nav>
</aside>