
<nav class="related-navigation-topic" aria-labelledby="related-nav-topics">
    <h2 class="govuk-heading-s govuk-!-margin-top-3" id="related-nav-topics">
        Explore the topic
    </h2>
    <ul class="govuk-list govuk-!-font-size-16 govuk-!-font-weight-bold govuk-list--spaced">
        <li>
            <a href="#">
                Benefits and financial support if you're caring for someone
            </a>
        </li>
        <li>
            <a href="#">
                Benefits and financial support if you're looking for work
            </a>
        </li>
        <li>
            <a href="#">
                Benefits and financial support if you're on a low income
            </a>
        </li>
        <li>
            <a href="#">
                Benefits and financial support if you're temporarily unable to work
            </a>
        </li>
        <li>
            <a href="#">
                Benefits and financial support when someone dies
            </a>
        </li>
        <li>
            <a href="#">
                Benefits and financial help
            </a>
        </li>
        <li>
            <a href="#">
                Caring for someone
            </a>
        </li>
        <li>
            <a href="#">
                Finding a job
            </a>
        </li>
    </ul>
</nav>
