{% extends "layouts/main.html" %}

{% block pageTitle %}
  Universal Credit: Eligibility - GOV.UK
{% endblock %}

{# Blank header with no service name for this page #}
{% block header %}
  <header>
    {{govukHeader()}}
  </header>
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Benefits",
        href: "#"
      },
      {
        text: "Benefits and financial support if you're on a low income",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <aside> 
        <nav class="app-subnav" aria-label="Pages in this guide" role="navigation">
          <header class="govuk-heading-s govuk-!-margin-bottom-2">
            <span class="govuk-visually-hidden">
              Pages in
            </span>
            <h2 class="govuk-caption-m">Universal credit</h2>
          </header>
          <ul class="app-subnav__section">
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">
                What Universal Credit is
              </a>
            </li>
            <li class="app-subnav__section-item app-subnav__section-item--current">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#" aria-current="page">
                Eligibility
              </a>
            </li>
            <li class="app-subnav__section-item">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">
                What you'll get
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>


    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span role="text">
          <!-- Chapter title -->
          Eligibility
          <span class="govuk-caption-xl">
            <span class="govuk-visually-hidden"> - </span>
            <!-- Guide title -->
              Universal credit
          </span>
        </span>
      </h1>

      <!-- <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active">
              <a href="#">
                Page 1
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              Page 2
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Page 3
              </a>
            </li>
          </ol>
        </nav>
      </aside> -->


    <div class="govuk-prototype-kit-common-templates-mainstream-guide-body">

      <p class="govuk-body">You may be able to get Universal Credit if you’re on a low income or need help with your living costs. You could be:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          out of work
        </li>
        <li>
          working (including self-employed or part time)
        </li>
        <li>
          unable to work, for example because of a health condition
        </li>
      </ul>

      <p class="govuk-body">To claim you must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          live in the UK
        </li>
        <li>
          be aged 18 or over (there are some exceptions if you’re 16 to 17)
        </li>
        <li>
          be under <a href="#" class="govuk-link">State Pension age</a>
        </li>
        <li>
          have £16,000 or less in <a href="#" class="govuk-link">money, savings and investments</a>
        </li>
      </ul>

      <p class="govuk-body">You can use a <a href="#" class="govuk-link">benefits calculator</a> to check what benefits you could get.</p>
      
      <h2 class="govuk-heading-l">
        If you’re an EU, EEA or Swiss citizen
      </h2>
      
      <p class="govuk-body">You and your family might also need settled or pre-settled status under the EU Settlement Scheme to get Universal Credit. <a href="#" class="govuk-link">Check if you can still apply to the EU Settlement Scheme</a> .</p>

      <h2 class="govuk-heading-l">
        If you live with your partner
      </h2>
      
      <p class="govuk-body">You will both need to claim Universal Credit. You must make a joint claim for your household, even if your partner is not eligible. How much you can get will depend on your partner’s income and savings, as well as your own.</p>

      <h3 class="govuk-heading-m">
        If one of you has reached State Pension age
      </h3>

      <p class="govuk-body">If only one of you has reached <a href="#" class="govuk-link">State Pension age</a>, you and your partner can still claim Universal Credit as a couple. Your Universal Credit claim will stop when you both reach State Pension age.</p>

      <p class="govuk-body">If you’re getting Pension Credit, it will stop if you or your partner make a claim for Universal Credit. You’ll usually be better off staying on Pension Credit. You can check using a benefits calculator.</p>


      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      {{ govukPagination({
        previous: {
          labelText: "What universal credit is",
          href: "#"
        },
        next: {
          labelText: "What you'll get",
          href: "#"
        }
      }) }}

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="related-content">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="related-content">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Sign in to your Universal Credit account
              </a>
            </li>
            <li>
              <a href="#">
                Benefits calculators
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Related content</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

    

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
