{% extends "layouts/main.html" %}

{% set chapterTitle = "Warnings and insurance" %}
{% set guideTitle = "France" %}

{% block pageTitle %}
  {{ guideTitle }} travel advice - {{ chapterTitle }} - GOV.UK
{% endblock %}

{% set guideLinks = [
  { text: "Warnings and insurance", href: "#", current: true },
  { text: "Safety and security", href: "#" },
  { text: "Health", href: "#" },
  { text: "Getting help", href: "#" }
] %}

{# Blank header with no service name for this page #}
{% block header %}
  <header>
    {{govukHeader()}}
  </header>
{% endblock %}

{% block containerStart %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Passports, travel and living abroad",
        href: "#"
      },
      {
        text: "Travel abroad",
        href: "#"
      },
       {
        text: "Foreign travel advice",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row app-page-with-service-nav">

    <div class="govuk-grid-column-two-thirds app-page-with-service-nav">

      <h1 class="govuk-heading-xl">
        <span role="text">
          <!-- Chapter title -->
          {{ chapterTitle }}
          <span class="govuk-caption-xl">
            <span class="govuk-visually-hidden"> - </span>
            <!-- Guide title -->
              {{ guideTitle }} travel advice
          </span>
        </span>
      </h1>

      {# Mobile Service Navigation (Dropdown) #}
      {{ govukServiceNavigation({
        menuButtonText: guideTitle + " travel advice",
        menuButtonLabel: "Pages in " + guideTitle + " travel advice",
        serviceUrl: "#",
        navigation: guideLinks
      }) }}

      {# Guide side navigation #}
      <aside> 
        <nav class="app-subnav" aria-label="Pages in this guide" role="navigation">
          <header class="govuk-heading-s govuk-!-margin-bottom-2">
            <span class="govuk-visually-hidden">
              Pages in
            </span>
            <h2 class="govuk-heading-s">{{ guideTitle }} travel advice</h2>
          </header>
          <ul class="app-subnav__section">
            {% for item in guideLinks %}
            <li class="app-subnav__section-item {% if item.current %}app-subnav__section-item--current{% endif %}">
              <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" 
                 href="{{ item.href }}" 
                 {% if item.current %}aria-current="page"{% endif %}>
                {{ item.text }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </nav>
      </aside>


      <div class="govuk-prototype-kit-common-templates-mainstream-guide-body">

        {% include "./partials/travel-advice/_metadata.html" %}

        {% include "./partials/travel-advice/_warnings-and-insurance.html" %}

        {% include "./partials/travel-advice/_related-content.html" %}

      </div>

  
    </div>

  </main>
</div>


{% endblock %}
