<p class="govuk-body">You may be able to get Universal Credit if you’re on a low income or need help with your living costs. You could be:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            out of work
        </li>
        <li>
            working (including self-employed or part time)
        </li>
        <li>
            unable to work, for example because of a health condition
        </li>
    </ul>

    <p class="govuk-body">To claim you must:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            live in the UK
        </li>
        <li>
            be aged 18 or over (there are some exceptions if you’re 16 to 17)
        </li>
        <li>
            be under <a href="#" class="govuk-link">State Pension age</a>
        </li>
        <li>
            have £16,000 or less in <a href="#" class="govuk-link">money, savings and investments</a>
        </li>
    </ul>

    <p class="govuk-body">You can use a <a href="#" class="govuk-link">benefits calculator</a> to check what benefits you could get.</p>

    <h2 class="govuk-heading-l">
    If you’re an EU, EEA or Swiss citizen
    </h2>

    <p class="govuk-body">You and your family might also need settled or pre-settled status under the EU Settlement Scheme to get Universal Credit. <a href="#" class="govuk-link">Check if you can still apply to the EU Settlement Scheme</a> .</p>

    <h2 class="govuk-heading-l">
    If you live with your partner
    </h2>

    <p class="govuk-body">You will both need to claim Universal Credit. You must make a joint claim for your household, even if your partner is not eligible. How much you can get will depend on your partner’s income and savings, as well as your own.</p>

    <h3 class="govuk-heading-m">
    If one of you has reached State Pension age
    </h3>

    <p class="govuk-body">If only one of you has reached <a href="#" class="govuk-link">State Pension age</a>, you and your partner can still claim Universal Credit as a couple. Your Universal Credit claim will stop when you both reach State Pension age.</p>

    <p class="govuk-body">If you’re getting Pension Credit, it will stop if you or your partner make a claim for Universal Credit. You’ll usually be better off staying on Pension Credit. You can check using a benefits calculator.</p>

    {{ govukPagination({
        attributes: {
            role: "navigation"
        },
        previous: {
            labelText: "What universal credit is",
            href: "#"
        },
        next: {
            labelText: "What you'll get",
            href: "#"
        }
    }) }}

    <p class="govuk-body">
        <a class="govuk-link" href="#">
            View a printable version of the whole guide
        </a>
    </p>