 <aside class="govuk-prototype-kit-common-templates-related-items">
    <h2 class="govuk-heading-s" id="related-content">
        Related content
    </h2>
    <nav role="navigation" aria-labelledby="related-content">
        <ul class="govuk-list govuk-!-font-size-16">
            <li>
                <a href="#">
                    Sign in to your Universal Credit account
                </a>
            </li>
            <li>
                <a href="#">
                    Benefits calculators
                </a>
            </li>
            <li>
                <a href="#">
                    Housing Benefit
                </a>
            </li>
            <li>
                <a href="#">
                    Self-employment and Universal Credit
                </a>
            </li>
            <li>
                <a href="#">
                    Sign in to a service
                </a>
            </li>
        </ul>
    </nav>
    <nav role="navigation" aria-labelledby="related-collections">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 id="related-collections" class="govuk-body govuk-!-font-size-16">
            Collection
        </h3>
        <ul class="govuk-list govuk-!-font-size-16 govuk-!-font-weight-bold">
            <li>
                <a href="#">
                    Universal Credit: detailed information for claimants
                </a>
            </li>
            <li>
                <a href="#">
                    Universal Credit: information for employers
                </a>
            </li>
            <li>
                <a href="#">
                    Universal Credit: for claimants who receive a Migration Notice letter
                </a>
            </li>
            <li>
                <a href="#">
                    Universal Credit: information for stakeholders and partners
                </a>
            </li>
            <li>
                <a href="#">
                    Universal Credit: information for landlords
                </a>
            </li>
        </ul>
    </nav>
</aside>