<p class="govuk-body">Universal Credit is a payment to help with your living costs. It’s paid monthly - or <a href="#" class="govuk-link">twice a month for some people in Scotland</a> .</p>

<p class="govuk-body">You may be able to get it if you’re on a low income, out of work or you cannot work.</p>

<div class="govuk-inset-text">
  This guide is also available in <a href="#" class="govuk-link">Welsh (Cymraeg)</a>  and in an <a href="#" class="govuk-link">easy read format</a>.
</div>

<p class="govuk-body">If you live in Northern Ireland, go to <a href="#" class="govuk-link">Universal Credit in Northern Ireland.</a> </p>

<h2 class="govuk-heading-l">
    If you’re an EU, EEA or Swiss citizen
</h2>

<p class="govuk-body">You and your family might also need settled or pre-settled status under the EU Settlement Scheme to get Universal Credit. <a href="#" class="govuk-link">Check if you can still apply to the EU Settlement Scheme</a> .</p>

<h2 class="govuk-heading-l">
    Sign in
</h2>

<p class="govuk-body"><a href="#" class="govuk-link">Sign in to your Universal Credit account</a> if you already have one.</p>

<h2 class="govuk-heading-l">
    If you already get other benefits
</h2>

<p class="govuk-body">Universal Credit is replacing Housing Benefit and income-related Employment and Support Allowance (ESA).</p>

<p class="govuk-body">If you’re getting these benefits, you do not need to do anything unless either:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        your circumstances change
    </li>
    <li>
        you get a letter called a ‘Migration Notice’ telling you that you must claim Universal Credit
    </li>
</ul>

<div class="govuk-inset-text">
  If you get a Migration Notice, you must <a href="#" class="govuk-link">move to Universal Credit</a> by the deadline date in your letter to keep getting financial support. 
</div>

<p class="govuk-body">You’ll stop getting these benefits when you or your partner claim Universal Credit. If you or your partner gets Pension Credit, this will also stop if one of you claims Universal Credit.</p>
<p class="govuk-body">You’ll continue getting any other benefits you already receive, such as Personal Independence Payment (PIP) or Carer’s Allowance.</p>
<p class="govuk-body">If you get <a href="#" class="govuk-link">certain other benefits at the same time as Universal Credit</a>, the amount of Universal Credit you receive will be reduced.</p>

{{ govukPagination({
    attributes: {
        role: "navigation"
    },
    next: {
        labelText: "Eligibility",
        href: "#"
    }
}) }}

<p class="govuk-body">
    <a class="govuk-link" href="#">
        View a printable version of the whole guide
    </a>
</p>