<p class="govuk-body">Self Assessment is a system HM Revenue and Customs (HMRC) uses to collect Income Tax.</p>

<p class="govuk-body">Tax is usually deducted automatically from wages and pensions. People and businesses with other income must report it in a Self Assessment tax return.</p>

<p class="govuk-body"><a href="#" class="govuk-link">If you need to send a Self Assessment tax return</a>, fill it in after the end of the tax year (5 April) it applies to.</p>

<p class="govuk-body">You must send a return if HMRC asks you to.</p>

{{ govukWarningText({
  text: "You may have to pay interest and a penalty if you do not file and pay on time.",
  iconFallbackText: "Warning"
}) }}

{% call govukInsetText() %}
  This guide is also available <a href="#" class="govuk-link">in Welsh (Cymraeg)</a>.
{% endcall %}

<h2 class="govuk-heading-l">
Sending your return
</h2>

<p class="govuk-body">You can file your Self Assessment tax return online.</p>

<p class="govuk-body">If you need a paper form you can:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
       <a href="#" class="govuk-link">download the SA100 tax return form</a>
    </li>
    <li>
        <a href="#" class="govuk-link">call HMRC and ask for the SA100 tax return form</a>
    </li>
</ul>

<h3 class="govuk-heading-m">
Deadlines
</h3>

<p class="govuk-body">You must tell HMRC by 5 October if you need to complete a tax return for the previous year and you have either:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
      not sent a tax return before
    </li>
    <li>
      registered before but did not need to send a tax return for the tax year 2024 to 2025
    </li>
</ul>

{{ govukWarningText({
  text: "You could be fined if you do not tell HMRC by 5 October.",
  iconFallbackText: "Warning"
}) }}

<p class="govuk-body">You can tell HMRC by registering for Self Assessment. <a href="#" class="govuk-link">Check how to register for Self Assessment</a>.</p>

<p class="govuk-body"><a href="#" class="govuk-link">Send your tax return by the deadline.</a>.</p>

<h3 class="govuk-heading-m">
Filling in your return
</h3>

<p class="govuk-body">You need to <a href="#" class="govuk-link">keep records</a> (for example bank statements or receipts) so you can fill in your tax return correctly.</p>

<p class="govuk-body">You can get <a href="#" class="govuk-link">help filling in your return</a>.</p>

<h2 class="govuk-heading-l">
Paying your bill
</h2>

<p class="govuk-body">HMRC will calculate <a href="#" class="govuk-link">what you owe</a> based on what you report.</p>

<p class="govuk-body"><a href="#" class="govuk-link">Pay your Self Assessment bill</a>  by 31 January.</p>

<div class="govuk-inset-text">
  How much tax you pay will depend on the <a href="#" class="govuk-link">Income Tax band</a> you’re in. There’s a different rate for <a href="#" class="govuk-link">Capital Gains Tax</a> if you need to pay it, for example you sell shares or a second home.
</div>

<nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
<div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">Who must send a tax return</span>
    </a>
  </div>  
</nav>
<p class="govuk-body govuk-!-margin-bottom-8">
    <a class="govuk-link" href="#">View a printable version of the whole guide</a>
</p>