 <aside class="govuk-prototype-kit-common-templates-related-items">
    <h2 class="govuk-heading-s" id="related-content">
        Related content
    </h2>
    <nav role="navigation" aria-labelledby="related-content">
        <ul class="govuk-list govuk-!-font-size-16">
            <li>
                <a href="#">
                    File your Self Assessment tax return online
                </a>
            </li>
            <li>
                <a href="#">
                   Understand your Self Assessment tax bill
                </a>
            </li>
            <li>
                <a href="#">
                    Pay your Self Assessment tax bill
                </a>
            </li>
            <li>
                <a href="#">
                    Get your SA302 tax calculation
                </a>
            </li>
           
        </ul>
    </nav>
    <nav role="navigation" aria-labelledby="related-collections">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 id="related-collections" class="govuk-body govuk-!-font-size-16">
            Collection
        </h3>
        <ul class="govuk-list govuk-!-font-size-16 govuk-!-font-weight-bold">
            <li>
                <a href="#">
                    Self Assessment: detailed information
                </a>
            </li>
            <li>
                <a href="#">
                    Help setting up and running a small business
                </a>
            </li>
            <li>
                <a href="#">
                    Repayments and refunds from HMRC: detailed information
                </a>
            </li>
            <li>
                <a href="#">
                    Income Tax: detailed information
                </a>
            </li>
            <li>
                <a href="#">
                    Self-employment: detailed information
                </a>
            </li>
        </ul>
    </nav>
</aside>