<p class="govuk-body">You may be eligible for student finance to help you study at university or college.</p>

<p class="govuk-body">For example, you may be able to apply for:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        a Tuition Fee Loan to help pay the course tuition fees charged by your university or college
    </li>
    <li>
        a Maintenance Loan to help pay for things like rent, food, books, travel and other living costs
    </li>
</ul>

<p class="govuk-body">Tuition Fee Loans are paid directly to your university or college. Maintenance Loans are paid into your bank account.</p>

<p class="govuk-body">Any loan you borrow needs to be paid back, but not until you’ve finished or left your course, and you earn over a certain amount.</p>

<p class="govuk-body">You might get <a href="#" class="govuk-link">extra financial help</a> on top of this, for example if you’re on a low income, are disabled or have children. You do not usually need to pay back this extra help.</p>

<p class="govuk-body">You may be able to get student finance even if you’re not from the UK.</p>

<p class="govuk-body"><a href="#" class="govuk-link">Find out if you’re eligible</a>.</p>

<div class="govuk-inset-text">
  Student finance is changing. If your course starts on or after 1 January 2027, <a href="#" class="govuk-link">find out what you could get</a>.
</div>

<p class="govuk-body">If you’re a continuing student or you’ve already created an account, <a href="#" class="govuk-link">log in to your account</a>.</p>

<h2 class="govuk-heading-l">
Before you apply
</h2>

<p class="govuk-body">When you start to repay your loan, the size of your monthly repayments will depend on how much you earn, not what you owe.</p>

<p class="govuk-body">You’ll be charged interest on the loan from the day you take it out.</p>

<p class="govuk-body">Student loans do not appear on credit reports and do not affect your credit score. However, lenders may consider them during affordability checks for other types of borrowing, such as a mortgage.</p>

<p class="govuk-body">The terms and conditions can change.</p>

<p class="govuk-body"><a href="#" class="govuk-link">Student loans: a guide to terms and conditions 2025 to 2026</a></p>

<p class="govuk-body"><a href="#" class="govuk-link">Student loans: a guide to terms and conditions 2026 to 2027</a></p>

<p class="govuk-body">Read the <a href="#" class="govuk-link">student finance privacy notice</a> to find out how the information you provide will be used.</p>

<p class="govuk-body">You can <a href="#" class="govuk-link">give someone permission to act on your behalf</a> (for example using Power of Attorney) if you want them to apply for you.</p>

<h2 class="govuk-heading-l">
How to apply
</h2>

<p class="govuk-body">Find out <a href="#" class="govuk-link">how to apply</a> for student finance.</p>

<p class="govuk-body">If you’re under 25 and have no contact with your parents, you might be able to apply through UCAS as an ‘<a href="#" class="govuk-link">estranged student</a>’.</p>

<p class="govuk-body">If you spent at least 13 weeks in the care of your local authority before you turned 16, you might be able to apply through UCAS as a <a href="#" class="govuk-link">care leaver</a>.</p>

<h3 class="govuk-heading-m">
If you’re not from England
</h3>

<p class="govuk-body">There’s a different process if you’re:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
       <a href="#" class="govuk-link">a student from Scotland</a>
    </li>
    <li>
       <a href="#" class="govuk-link">a student from Wales</a>
    </li>
    <li>
       <a href="#" class="govuk-link">a student from Northern Ireland</a>
    </li>
    <li>
       <a href="#" class="govuk-link">a student from Jersey</a>
    </li>
    <li>
       <a href="#" class="govuk-link">a student from Guernsey</a>
    </li>
    <li>
       <a href="#" class="govuk-link">a student from Isle of Man</a>
    </li>
</ul>

<nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
<div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">Eligibility</span>
    </a>
  </div>  
</nav>
<p class="govuk-body govuk-!-margin-bottom-8">
    <a class="govuk-link" href="#">View a printable version of the whole guide</a>
</p>