<div class="gem-c-metadata">
  <dl class="gem-c-metadata__list">
          <dt class="gem-c-metadata__term">Still current at:</dt>
          <dd class="gem-c-metadata__definition"  >
            19 August 2026

          </dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            11 August 2026

          </dd>
          <dt class="gem-c-metadata__term">Latest update:</dt>
          <dd class="gem-c-metadata__definition" >
            <span class="metadata__update">Updated information on European Entry-Exit System (EES) (‘Entry requirements’ page).  </span>
          </dd>
  </dl>
</div>