 <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
    <h2 class="govuk-heading-s" id="related-content">
        Related content
    </h2>
    <nav role="navigation" aria-labelledby="related-content">
        <ul class="govuk-list govuk-!-font-size-16">
            <li>
                <a href="#">
                    About Foreign, Commonwealth & Development Office travel advice
                </a>
            </li>
            <li>
                <a href="#">
                    Travel or do business in Europe: Brexit guidance
                </a>
            </li>
            <li>
                <a href="#">
                    Support for British nationals abroad
                </a>
            </li>
            <li>
                <a href="#">
                    Foreign travel checklist
                </a>
            </li>
            <li>
                <a href="#">
                    UK help and services in France
                </a>
            </li>
        </ul>
    </nav>
</aside>