
<div class="gem-c-metadata">
  <dl class="gem-c-metadata__list">
          <dt class="gem-c-metadata__term">Still current at:</dt>
          <dd class="gem-c-metadata__definition"  >
            19 August 2026

          </dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
            11 August 2026

          </dd>
          <dt class="gem-c-metadata__term">Latest update:</dt>
          <dd class="gem-c-metadata__definition" >
            <span class="metadata__update">Updated information on European Entry-Exit System (EES) (‘Entry requirements’ page).  </span>
          </dd>
  </dl>
</div>

<div class="gem-c-govspeak gem-c-govspeak--direction-ltr govuk-!-margin-bottom-0">

<div class="call-to-action">
  <h2 class="govuk-heading-l" id="wildfires-in-france">Wildfires in France</h2>

  <p class="govuk-body">There is a high risk of wildfires during the summer season from April to October. For advice, visit the wildfires section on the <a href="#">Safety and security page</a>.</p>
</div> 

</div>

<h2 class="govuk-heading-l">Before you travel</h2>

<p class="govuk-body">No travel can be guaranteed safe. Read all the advice in this guide. You may also find it helpful to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        see <a href="#" class="govuk-link">general advice for women travellers</a>
    </li>
    <li>
        read our <a href="#" class="govuk-link">guide on disability and travel abroad</a>
    </li>
    <li>
        see <a href="#" class="govuk-link">general advice for LGBT+ travellers</a>
    </li>
    <li>
        read about <a href="#" class="govuk-link">safety for solo and independent travel</a>
    </li>
    <li>
        see <a href="#" class="govuk-link">advice on volunteering and adventure travel abroad</a>
    </li>
</ul>

<h3 class="govuk-heading-m">Travel insurance</h3>

<p class="govuk-body">If you choose to travel, research your destinations and get appropriate travel insurance. Insurance should cover your itinerary, planned activities and expenses in an emergency.</p>

<h2 class="govuk-heading-l">About FCDO travel advice</h2>

<p class="govuk-body">The Foreign, Commonwealth and Development Office (FCDO) provides advice about the risks of travel, to help you make informed decisions. Find out more about FCDO travel advice.</p>

<h3 class="govuk-heading-m">Get travel advice updates</h3>

<p class="govuk-body">Sign up to get email notifications when this advice is updated.</p>

<p class="govuk-body">Follow FCDO:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="#" class="govuk-link">travel advice on X</a>
    </li>
    <li>
       <a href="#" class="govuk-link">travel advice on Facebook</a>
    </li>
    <li>
        <a href="#" class="govuk-link">Travel Aware on Instagram</a>
    </li>
</ul>



{{ govukPagination({
    attributes: {
        role: "navigation"
    },
    next: {
        labelText: "Entry requirements",
        href: "#"
    }
}) }}

<p class="govuk-body">
    <a class="govuk-link" href="#">
        View a printable version of the whole guide
    </a>
</p>