<p class="govuk-body">Your eVisa shows your identity and immigration status. This includes what rights you have in the UK, for example to work, rent or claim benefits.</p>

<p class="govuk-body">You can get a share code to prove your immigration status to people such as employers or landlords, or when you travel.</p>

<p class="govuk-body">You’ll need to give them your date of birth. You will not need to show them your eVisa.</p>

<p class="govuk-body">The person who uses your share code will see some of your personal details. When you get your share code you’ll be told what they’ll see.</p>

<p class="govuk-body">A share code lasts for 90 days. You can:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        use the share code as many times as you need before it expires
    </li>
    <li>
        get a new share code whenever you need one
    </li>
</ul>

<h2 class="govuk-heading-l">
View your eVisa and get a share code
</h2>

<p class="govuk-body">A share code lasts for 90 days. You can:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        passport
    </li>
    <li>
        national identity card
    </li>
    <li>
        biometric residence card (BRC) - this can be valid or expired
    </li>
    <li>
        expired biometric residence permit (BRP)
    </li>
    <li>
        UKVI customer number
    </li>
</ul>

<p class="govuk-body">You’ll also need access to the mobile phone number or email address you use to sign in to your UKVI account.</p>

<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  View your eVisa and get a share code
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<h2 class="govuk-heading-l">
Report an error with your eVisa
</h2>

<p class="govuk-body">You should <a href="#" class="govuk-link">report an error with your eVisa</a> if:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        you’ve changed your name or nationality
    </li>
    <li>
        you need to change your photo because you cannot be recognised from the current one
    </li>
</ul>

<nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
<div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">Travel with your eVisa</span>
    </a>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
      <span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">Get an eVisa if you have settlement in the UK</span>
    </a>
  </div>
  
</nav>

<p class="govuk-body govuk-!-margin-bottom-8">
    <a class="govuk-link" href="#">View a printable version of the whole guide</a>
</p>