{% extends "layouts/main.html" %}

{% set pageName="Home - GOV.UK Headings prototype" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype
    </h1>

     <p class="govuk-body-l">
      Exploring different ways to display a combined heading for a guide title and chapter page and testing new guide navigation approach</p>

    <h2 class="govuk-heading-l">Headings examples</h2>

    <h3 class="govuk-heading-m">Grey subheading under the guide chapter title</h3>

      <p class="govuk-body"><a class="govuk-link" href="/pages/guide/heading-grey.html">View your eVisa and get a share code to prove your immigration status</a></p>

      <p class="govuk-body">On light blue background in <a class="govuk-link" href="/pages/guides/universal-credit/eligibility/guide-nav-middle-blue.html">Universal credit</a> - short title</p>

      <p class="govuk-body">On light blue background in <a class="govuk-link" href="/pages/guides/evisas/view-your-evisa/guide-nav-middle-blue.html">View your eVisa and get a share code to prove your immigration status</a> - longer chapter title</p>

      <p class="govuk-body">On light blue background in <a class="govuk-link" href="/pages/guides/student-finance/overview/guide-nav-middle-blue.html">Student finance for undergraduates</a> - with step by step nav and megabreadcrumbs</p>

      <p class="govuk-body">On light blue background in <a class="govuk-link" href="/pages/guides/travel-advice-france/warnings-and-insurance/nav-middle-blue.html">France travel advice</a> - tweaked heading spacing</p>

      <h3 class="govuk-heading-m">Heading with guide title as caption above the chapter title </h3>

      <p class="govuk-body"><a class="govuk-link" href="/pages/guides/evisas/view-your-evisa/guide-nav-middle-caption-top.html">View your eVisa page and get a share code to prove your immigration status</a> - navigation under the heading</p>

      <p class="govuk-body"><a class="govuk-link" href="/pages/guides/travel-advice-france/warnings-and-insurance/nav-middle-caption-top.html">France travel advice</a> - navigation under the heading</p>

      <h3 class="govuk-heading-m">Heading with guide title as caption below the chapter title </h3>

      <p class="govuk-body"><a class="govuk-link" href="/pages/guides/evisas/view-your-evisa/guide-nav-middle-caption-bottom.html">View your eVisa page and get a share code to prove your immigration status</a> - navigation under the heading</p>

       <p class="govuk-body"><a class="govuk-link" href="/pages/guides/travel-advice-france/warnings-and-insurance/nav-middle-caption-bottom.html">France travel advice</a> - navigation under the heading</p>

    <h2 class="govuk-heading-l">Guide navigation examples</h2>

    <h3 class="govuk-heading-m">Navigation on the right (sidebar) on desktop</h3>

     <p class="govuk-body"> <a class="govuk-link govuk-!-font-weight-bold" href="/pages/guide/guide-nav-right.html">Universal credit</a> - guide with short titles and related links under the content</p>

     <p class="govuk-body"><a class="govuk-link govuk-!-font-weight-bold" href="/pages/guides/universal-credit/eligibility/guide-nav-right-related.html">Universal credit</a> - guide with short titles nad related links under the side navigation</p>

     <p class="govuk-body"><a class="govuk-link govuk-!-font-weight-bold" href="/pages/guides/evisas/view-your-evisa/guide-nav-right-related.html">eVisas: access and use your online immigration status</a> - guide with long titles</p>

     <p class="govuk-body"><a class="govuk-link govuk-!-font-weight-bold" href="/pages/guides/student-finance/overview/nav-right-step-by-step.html">Student finance for undergraduates</a> - guide with step by step nav</p>
   
    <h3 class="govuk-heading-m">Navigation on the left on desktop</h3>


    
    <p class="govuk-body"><a class="govuk-link" href="/pages/guide/guide-nav-left-top.html">Universal credit</a> - guide with sort titles and navigation on the top left</p>

     <p class="govuk-body"><a class="govuk-link" href="#">Guide name</a> - guide with long titles</p>

     <p class="govuk-body"><a class="govuk-link" href="#">Guide name</a> - guide with step by step nav</p>

     <h3 class="govuk-heading-m">Navigation under the heading - no mobile toggle</h3>

     <p class="govuk-body">Guide with a <a class="govuk-link" href="/pages/guide/guide-nav-middle.html">content navigation aligned with the main content</a></p>
     
     <p class="govuk-body">Guide with a <a class="govuk-link" href="/pages/guide/guide-nav-service.html">content navigation aligned with the main content and mobile service navigation dropdown</a></p>
      
    
     <h2 class="govuk-heading-l">Travel advice examples</h2>

     <p class="govuk-body">Travel advice page with a <a class="govuk-link" href="/pages/guide/travel-advice-nav-left-top.html">side navigation on the top left</a></p>
     
     <p class="govuk-body">Travel advice page with a <a class="govuk-link" href="/pages/guide/travel-advice-nav-service.html">side navigation on the top right and mobile service navigation dropdown</a></p>

      <p class="govuk-body">Travel advice page with a <a class="govuk-link" href="/pages/guide/travel-advice-nav-middle.html">side navigation in the content width and mobile service navigation dropdown</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Discarded examples</h2>

    <p class="govuk-body"><a class="govuk-link" href="/pages/guide/guide-nav-left-top.html">Universal credit</a> - guide with side navigation in the top left</p>

    <p class="govuk-body"><a class="govuk-link govuk-!-font-weight-bold" href="/pages/guides/universal-credit/eligibility/guide-nav-left.html">Universal credit</a> - left navigation</p>

    <p class="govuk-body"><a class="govuk-link" href="/pages/archived/heading-blue.html">Heading with a dark blue subheading</a> in the View your eVisa and get a share code to prove your immigration status guide</p>

    <p class="govuk-body"><a class="govuk-link" href="/pages/archived/heading-blue-border.html">Heading with a dark blue subheading and border</a> in the View your eVisa and get a share code to prove your immigration status guide</p>

    <p class="govuk-body"><a class="govuk-link" href="/pages/archived/heading-toggle-nav.html">Heading with chapter name in toggle navigation</a> in the View your eVisa and get a share code to prove your immigration status guide</p>

    <h4 class="govuk-heading-s">Heading with guide title in the navigation header</h4>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Reasons:
        </span>
      </summary>
      <div class="govuk-details__text">
        list all the reasons why
      </div>
    </details>

      <p class="govuk-body"><a class="govuk-link" href="/pages/guide/evisa-heading-grey-nav.html">View your eVisa and get a share code to prove your immigration status guide</a> - long chapter and guide title </p>

      <p class="govuk-body"><a class="govuk-link" href="/pages/guide/right-to-rent-heading-grey-nav.html">Prove your right to rent in England</a> - short nav and general chapter name</p>

      <p class="govuk-body"><a class="govuk-link" href="/pages/guide/self-assessment-tax-heading-grey-nav.html">Self Assessment tax returns</a> - longer nav list and generic chapter name </p>

      <p class="govuk-body"><a class="govuk-link" href="/pages/guide/student-finance-heading-grey-nav.html">Student finance for undergraduates</a> - with step by step navigation</p>
   
    <h4 class="govuk-heading-s">Heading with guide title as caption and navigation in the sidebar </h4>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Reasons:
        </span>
      </summary>
      <div class="govuk-details__text">
        list all the reasons why
      </div>
    </details>

    <p class="govuk-body"><a class="govuk-link" href="/pages/guides/evisas/view-your-evisa/guide-nav-right-related-caption-top.html">View your eVisa page and get a share code to prove your immigration status</a> - navigation in the sidebar</p>

    <p class="govuk-body"><a class="govuk-link" href="/pages/guides/evisas/view-your-evisa/guide-nav-right-related-caption-bottom.html">View your eVisa page and get a share code to prove your immigration status</a> - navigation in the sidebar</p>





  </div>
</div>

{% endblock %}
